/* Dark Button Theme */
.btnDark::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 5%;
    background-color: var(--color-secondary);
    right: -5px;
    transition: width 0.3s ease-out;
    z-index: -1;
}
.btnDark:hover {
    color: var(--color-primary);
}

.btnDark:hover::after {
    width: 100%;
}

.btnDark .btnArrowForward,
.btnDark .btnArrowBack {
    color: #fff;
}

.btnDark:hover .btnArrowForward,
.btnDark:hover .btnArrowBack {
    color: var(--color-primary);
}

/* Light Button Theme */
.btnLight::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 5%;
    background-color: var(--color-primary);
    right: -5px;
    transition: width 0.3s ease-out;
    z-index: -1;
}

.btnLight:hover::after {
    width: 100%;
    color: var(--color-primary);
}

.btnLight .btnArrowForward,
.btnLight .btnArrowBack {
    color: var(--color-primary);
}

.btnLight:hover .btnArrowForward,
.btnLight:hover .btnArrowBack {
    color: var(--color-secondary);
}

/* Common Arrow Transition for both themes */
.btnArrowForward,
.btnArrowBack {
    transition: color 0.3s ease, transform 0.3s ease;
    height: 1.2rem;
    width: auto;
}

/* Animations */
.btnDark:hover .btnArrowForward {
    transform: translateX(4px);
}
.btnLight:hover .btnArrowForward {
    transform: translateX(4px);
}

.btnDark:hover .btnArrowBack {
    transform: translateX(-4px);
}
.btnLight:hover .btnArrowBack {
    transform: translateX(-4px);
}
