@import "tailwindcss";

:root {
    --color-primary: #0A1033;
    --color-secondary: #00F5FF;
    --color-accent: #2D2DE8;
    --color-dark: #4C6FFF;
    --color-light: #F8FAFC;
    --color-gray: #9CA3AF;
    --color-neon: #00CFFF;
}

@theme inline {
    --color-primary: #0A1033;
    --color-secondary: #00F5FF;
    --color-accent: #2D2DE8;
    --color-dark: #4C6FFF;
    --color-light: #F8FAFC;
    --color-gray: #9CA3AF;
    --color-neon: #00CFFF;
}