.sliderContainer {
    overflow: hidden;
    position: relative;
    width: 100%;
    margin-bottom: 40px;
}

.sliderTrack {
    display: flex;
    transition: transform 0.7s ease-in-out;
}

.slide {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.75rem;
    min-width: 100%;
}

.dots {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 2rem;
}

.dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    cursor: pointer;
    background-color: rgba(107, 114, 128, 0.3);
    /* gray-500/30 */
}

.dotActive {
    background-color: aqua;
    /* orange-600 */
}